<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" type="image/png"
    href="/images/galleta.png">
    <style>
        .flash-message {
            color: red;
            font-weight: bold;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>Bienvenido a la Consulta de Clima</h1>
    <p>{{ mensaje_preferencia }}</p><br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <button onclick="window.location.href='/consulta_clima'">Ir a Consulta Clima</button><br>
    <button onclick="window.location.href='/consulta_pronostico'">Ir a Consulta Pronóstico</button><br>
    <button onclick="window.location.href='/historial'">Ver el Historial</button><br>
    <button onclick="window.location.href='/cambiar_unidades'">Cambiar la unidad de medida</button><br>
</body>
</html>